html {
  box-sizing: border-box;
  background-color: #efeee9;
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

h1 {
  color: #561e05;
  text-align: center;
}

.links li {
  display: block;
  margin: auto;
  max-width: 20em;
  background-color: #9a816d;
  border: 2px solid #725640;
}

.links a {
  display: block;
  padding: 0.5em;
  background-color: #9a816d;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  background-color: #795437;
  color: #fff;
}
